*{
    background-color: pink;
}

.container{
    width: 500px;
    border:1px solid black ;
    margin: 0, auto;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.log{
    color: red;
    text-align: center;
}
